{% extends "template.html" %}

<!----Head Block-->
{% block head %}
<title>Home</title>
{% endblock %}

<!----Content Block-->
{% block content %}
<h1> My First Try Using Flask </h1>
<p> Flask is Fun </p>

{% endblock %}