<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/material.orange-deep_orange.min.css')}}" />
    <script defer src="{{ url_for('static',    filename='js/material.min.js')}}"></script>
    {% block head %} {% endblock %}
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Oyster Mushroom Health Assessment Using Image Recognition Through Convolutional Neural Networks</span>
            </div>
        </header>
        <!---- Drawer -->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                <img src="{{ url_for('static', filename='image/tf_logo_social.png') }}" height= "80px">
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""><i class="material-icons">home</i>   Home</a>
                <a class="mdl-navigation__link" href=""><i class="material-icons">camera_alt</i>   Assess</a>
                <a class="mdl-navigation__link" href=""><i class="material-icons">assignment</i>   Train</a>
                <a class="mdl-navigation__link" href=""><i class="material-icons">assignment_turned_in</i>   Test</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                {% block content %} {% endblock %}
            </div>
        </main>

        <!---- Footer -->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Powered by TensorFlow</a>
                </div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="https://www.tensorflow.org/">TensorFlow</a></li>
                    <li> / </li>
                    <li><a href="https://github.com/krimsticks/TF-Mushroom-Health-Assessment">GitHub</a></li>
            </div>
            </ul>
        </footer>

    </div>
</body>

</html>